**Merging New Institutional Debt Rates Data**

In [1]:
qui {
forvalues year = 2018/2024 {
copy "https://nces.ed.gov/ipeds/datacenter/data/FLAGS`year'.zip" FLAGS`year'.zip, replace
}
}

In [2]:
use flags2021, clear
*list unitid idx_f
sum idx_f

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
       idx_f |      6,440    26814.27    88649.92         -2     490285

In [3]:
*qui {
forvalues year=2018/2022 {

unzipfile FLAGS`year'.zip, replace

	insheet using flags`year'.csv, clear

keep unitid idx_f

gen year = `year' +1

local y = `year' + 1

save flags`y', replace
ds
}
*}

    inflating: flags2018.csv

successfully unzipped FLAGS2018.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(104 vars, 6,857 obs)
file flags2019.dta saved
unitid  idx_f   year
    inflating: flags2019.csv

successfully unzipped FLAGS2019.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(107 vars, 6,559 obs)
file flags2020.dta saved
unitid  idx_f   year
    inflating: flags2020.csv

successfully unzipped FLAGS2020.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(111 vars, 6,440 obs)
file flags2021.dta saved
unitid  idx_f   year
    inflating: flags2021.csv

successfully unzipped FLAGS2021.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(111 vars, 6,289 obs)
file flags2022.dta saved
unitid  idx_f   year
    inflating: flags2022.csv

successfully unzipped FLAGS2022.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(114 vars, 6,256 obs)
file flags2023.dta saved
unitid  idx_f   year

In [4]:
forvalues year=2023/2023 {

unzipfile FLAGS`year'.zip, replace

	insheet using flags`year'.csv, clear

rename UNITID unitid

keep unitid idx_f

gen year = `year' +1

local y = `year' + 1

save flags`y', replace
}

    inflating: Flags2023.csv

successfully unzipped FLAGS2023.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(105 vars, 6,163 obs)
file flags2024.dta saved

In [5]:
forvalues year=2017/2022 {
	copy https://nces.ed.gov/ipeds/datacenter/data/HD`year'_Data_Stata.zip HD`year'_Data_Stata.zip, replace
	unzipfile HD`year'_Data_Stata, replace
      
	insheet using hd`year'_data_stata.csv, clear

    keep unitid control iclevel fips ccbasic instnm hloffer hdegofr1

rename ccbasic c21basic

gen year=`year' + 1

local y = `year' + 1
    save hd`y'a, replace
		}

    inflating: hd2017_data_stata.csv

successfully unzipped HD2017_Data_Stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(72 vars, 7,153 obs)
file hd2018a.dta saved
    inflating: hd2018_data_stata.csv

successfully unzipped HD2018_Data_Stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(73 vars, 6,857 obs)
file hd2019a.dta saved
    inflating: hd2019_data_stata.csv

successfully unzipped HD2019_Data_Stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(73 vars, 6,559 obs)
file hd2020a.dta saved
    inflating: hd2020_data_stata.csv

successfully unzipped HD2020_Data_Stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(73 vars, 6,440 obs)
file hd2021a.dta saved
    inflating: hd2021_data_stata.csv

successfully unzipped HD2021_Data_Stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(74 vars, 6,289 obs)
file hd2022a.dta saved
    inflating: hd2022_data_stata.csv

successfully unzipped HD2022_Data_Stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1
(73 vars, 6,256 obs)
file hd2023a.dta saved

In [6]:
qui {

forvalues year=2023/2024 {
	copy https://nces.ed.gov/ipeds/datacenter/data/HD`year'_Data_Stata.zip HD`year'_Data_Stata.zip, replace
	unzipfile HD`year'_Data_Stata, replace
      
	insheet using hd`year'_data_stata.csv, clear

rename UNITID unitid

    keep unitid control iclevel fips c21basic instnm hloffer hdegofr1 

gen year=`year' - 1

local y = `year' - 1
    save hd`y'a, replace
		}   
	}

In [7]:
clear all

qui {
    forvalues year = 2018/2023 {

        * 1. Download zip
        copy "https://nces.ed.gov/ipeds/datacenter/data/EF2021A_Data_Stata.zip" ///
            "EF2021A_Data_Stata.zip", replace

        * 2. Unzip (creates EF2021A_Data_Stata.csv)
        unzipfile "EF2021A_Data_Stata.zip", replace

        * 3. Import the CSV that actually exists
        import delimited "EF2021A_Data_Stata.csv", clear // varnames(1)

        * 4. Standardize variable names to lowercase
        rename *, lower

        * 5. Filter to level 2 (EF, not EFFY)
        * Check once with: describe ef*
        keep if efalev == 2

        * 6. Keep race/ethnicity totals
        keep unitid eftotlt efaiant efasiat efbkaat efhispt ///
             efnhpit efwhitt ef2mort efunknt efnralt

        * 8. Add year and save
        gen year = `year'
        save ef`year', replace
    }
}

In [65]:
*** WRITE CODE TO DOWNLOAD MULTIPLE YEARS OF SFA STUDENT FINANCIAL AID DATA AND MERGE

unitid    xeftotlt  eftotlw   xefaianw  efasiam   xefbkaam  efhispt   xefnhpit  efnhpiw   xefwhitw  ef2morm   xefunknm  efnralt
efalevel  eftotlt   xefaiant  efaianw   xefasiaw  efbkaam   xefhispm  efnhpit   xefwhitt  efwhitw   xef2morw  efunknm   xefnralm
line      xeftotlm  efaiant   xefasiat  efasiaw   xefbkaaw  efhispm   xefnhpim  efwhitt   xef2mort  ef2morw   xefunknw  efnralm
section   eftotlm   xefaianm  efasiat   xefbkaat  efbkaaw   xefhispw  efnhpim   xefwhitm  ef2mort   xefunknt  efunknw   xefnralw
lstudy    xeftotlw  efaianm   xefasiam  efbkaat   xefhispt  efhispw   xefnhpiw  efwhitm   xef2morm  efunknt   xefnralt  efnralw

In [8]:
ds

unitid   efaiant  efbkaat  efnhpit  ef2mort  efnralt
eftotlt  efasiat  efhispt  efwhitt  efunknt  year

In [ ]:
// use unitid gis4n2 gis4n12 gis4n22 gis4n22 gis4n32 gis4n42 gis4n52 ///
//    upgrntn upgrntp upgrntt upgrnta fgrnt_p using sfa2223_data_stata, clear

// merge 1:1 unitid using Data_Single_Year_Policies,

// drop if _merge==1

// save sfa_collections.dta, replace

In [9]:
use hd2023a, clear

merge 1:1 unitid year using ef2023, nogen

merge 1:1 unitid year using flags2023, nogen

forvalues year = 2018 / 2022 {

append using hd`year'a
merge 1:1 unitid year using ef`year', nogen update
merge 1:1 unitid year using flags`year', nogen update

}

    Result                      Number of obs
    -----------------------------------------
    Not matched                           830
        from master                       566
        from using                        264

    Matched                             5,506
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                           208
        from master                       144
        from using                         64

    Matched                             6,192
    -----------------------------------------
(variable instnm was str86, now str91 to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                         8,383
        from master                     8,083
        from using                        300

    Matched                             5,470
        not updated                         0
        missing updated                 5,470
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                         7,154
        from master                     7,075
        from using                         79

    Matched                             6,778
        not updated                         0
        missing updated                 6,778
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        15,437
        from master                    15,228
        from using                        209

    Matched                             5,561
        not updated                         0
        missing updated                 5,561
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        14,141
        from master                    14,141
        from using                          0

    Matched                             6,857
        not updated                         0
        missing updated                 6,857
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        22,041
        from master                    21,914
        from using                        127

    Matched                             5,643
        not updated                         0
        missing updated                 5,643
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        21,125
        from master                    21,125
        from using                          0

    Matched                             6,559
        not updated                         0
        missing updated                 6,559
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        28,448
        from master                    28,401
        from using                         47

    Matched                             5,723
        not updated                         0
        missing updated                 5,723
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        27,731
        from master                    27,731
        from using                          0

    Matched                             6,440
        not updated                         0
        missing updated                 6,440
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        34,860
        from master                    34,712
        from using                        148

    Matched                             5,622
        not updated                         0
        missing updated                 5,622
        nonmissing conflict                 0
    -----------------------------------------

    Result                      Number of obs
    -----------------------------------------
    Not matched                        34,515
        from master                    34,354
        from using                        161

    Matched                             6,128
        not updated                         0
        missing updated                 6,128
        nonmissing conflict                 0
    -----------------------------------------

In [10]:
save hd_ef_flags18_23, replace

file hd_ef_flags18_23.dta saved

In [11]:
tab year if idx_f~=.

       year |      Freq.     Percent        Cum.
------------+-----------------------------------
       2018 |      6,857       17.47       17.47
       2019 |      6,857       17.47       34.93
       2020 |      6,559       16.71       51.64
       2021 |      6,440       16.40       68.04
       2022 |      6,289       16.02       84.06
       2023 |      6,256       15.94      100.00
------------+-----------------------------------
      Total |     39,258      100.00

In [20]:
insheet using total_offsets/total_offsets_2019_2023.csv, clear

(4 vars, 147 obs)

In [21]:
collapse (min) year, by(district)
list

     +----------------------------------------------+
     |                              district   year |
     |----------------------------------------------|
  1. |          020 - Grossmont-Cuyamaca CCD   2019 |
  2. |                    030 - Imperial CCD   2019 |
  3. |                   050 - MiraCosta CCD   2019 |
  4. |                     060 - Palomar CCD   2019 |
  5. |                090 - Southwestern CCD   2019 |
     |----------------------------------------------|
  6. |                 110 - Butte-Glenn CCD   2019 |
  7. |               120 - Feather River CCD   2019 |
  8. |                    160 - Redwoods CCD   2019 |
  9. | 170 - Shasta-Tehama-Trinity Joint CCD   2019 |
 10. |              180 - Siskiyou Joint CCD   2019 |
     |----------------------------------------------|
 11. |                    230 - Los Rios CCD   2019 |
 12. |                 240 - Napa Valley CCD   2019 |
 13. |               260 - Sonoma County JCD   2019 |
 14. |                310 - Contra Costa CCD   2019 |
 15. |               360 - San Francisco CCD   2019 |
     |----------------------------------------------|
 16. |            420 - Foothill-De Anza CCD   2019 |
 17. |                      430 - Ohlone CCD   2019 |
 18. |               440 - Gavilan Joint CCD   2019 |
 19. |                    450 - Hartnell CCD   2021 |
 20. |          470 - San José-Evergreen CCD   2019 |
     |----------------------------------------------|
 21. |          480 - Chabot-Las Positas CCD   2019 |
 22. |                      530 - Merced CCD   2019 |
 23. |                    560 - Sequoias CCD   2019 |
 24. |                570 - State Center CCD   2019 |
 25. |                  580 - West Hills CCD   2019 |
     |----------------------------------------------|
 26. |                    590 - Yosemite CCD   2019 |
 27. |             620 - Antelope Valley CCD   2019 |
 28. |      640 - San Luis Obispo County CCD   2019 |
 29. |               660 - Santa Clarita CCD   2019 |
 30. |              680 - Ventura County CCD   2019 |
     |----------------------------------------------|
 31. |                   690 - West Kern CCD   2019 |
 32. |                     710 - Compton CCD   2019 |
 33. |                   720 - El Camino CCD   2019 |
 34. |                 740 - Los Angeles CCD   2019 |
 35. |               770 - Pasadena Area CCD   2019 |
     |----------------------------------------------|
 36. |                    810 - Cerritos CCD   2019 |
 37. |                      820 - Citrus CCD   2019 |
 38. |             850 - Mt. San Antonio CCD   2019 |
 39. |         860 - North Orange County CCD   2019 |
 40. |                   880 - Rio Hondo CCD   2019 |
     |----------------------------------------------|
 41. |         890 - South Orange County CCD   2019 |
 42. |                     910 - Barstow CCD   2019 |
 43. |                     920 - Chaffey CCD   2019 |
 44. |                      930 - Desert CCD   2019 |
 45. |             940 - Mt. San Jacinto CCD   2019 |
     |----------------------------------------------|
 46. |                   960 - Riverside CCD   2020 |
 47. |              980 - San Bernardino CCD   2019 |
 48. |               990 - Victor Valley CCD   2019 |
     +----------------------------------------------+

**NOTE: Pick up here 12/05/2025 by continuing to hard code in idx_f into institutions data set**

In [26]:
insheet using total_offsets/total_offsets_2019_2023.csv, clear
gen idx_f=.

(4 vars, 147 obs)
(147 missing values generated)

In [27]:
replace idx_f = 115287 if regexm(district, "020") == 1   // Grossmont-Cuyamaca CCD
replace idx_f = 115861 if regexm(district, "030") == 1   // Imperial CCD
replace idx_f = 118912 if regexm(district, "050") == 1   // MiraCosta CCD
replace idx_f = 120971 if regexm(district, "060") == 1   // Palomar CCD
replace idx_f = 123800 if regexm(district, "090") == 1   // Southwestern CCD

replace idx_f = 110246 if regexm(district, "110") == 1   // Butte-Glenn CCD
replace idx_f = 114433 if regexm(district, "120") == 1   // Feather River CCD
replace idx_f = 121707 if regexm(district, "160") == 1   // Redwoods CCD
replace idx_f = 123299 if regexm(district, "170") == 1   // Shasta-Tehama-Trinity Joint CCD
replace idx_f = 123484 if regexm(district, "180") == 1   // Siskiyou Joint CCD

replace idx_f = 121707 if regexm(district, "230") == 1   // Los Rios CCD
replace idx_f = 119331 if regexm(district, "240") == 1   // Napa Valley CCD
replace idx_f = 123013 if regexm(district, "260") == 1   // Sonoma County JCD (Used Santa Rose Junior College)
replace idx_f = 112817 if regexm(district, "310") == 1   // Contra Costa CCD
replace idx_f = 112190 if regexm(district, "360") == 1   // San Francisco CCD

replace idx_f = 114831 if regexm(district, "420") == 1   // Foothill-De Anza CCD
replace idx_f = 120290 if regexm(district, "430") == 1   // Ohlone CCD
replace idx_f = 114938 if regexm(district, "440") == 1   // Gavilan Joint CCD
replace idx_f = 115393 if regexm(district, "450") == 1   // Hartnell CCD
replace idx_f = 122737 if regexm(district, "470") == 1   // San José-Evergreen CCD

replace idx_f = 111920 if regexm(district, "480") == 1   // Chabot-Las Positas CCD
replace idx_f = 118718 if regexm(district, "530") == 1   // Merced CCD
replace idx_f = 123217 if regexm(district, "560") == 1   // Sequoias CCD
replace idx_f = 123925 if regexm(district, "570") == 1   // State Center CCD
replace idx_f = 448637 if regexm(district, "580") == 1   // West Hills CCD

replace idx_f = 126100 if regexm(district, "590") == 1   // Yosemite CCD
replace idx_f = 109350 if regexm(district, "620") == 1   // Antelope Valley CCD
replace idx_f = 113193 if regexm(district, "640") == 1   // San Luis Obispo County CCD (Used Cuesta College)
replace idx_f = 111461 if regexm(district, "660") == 1   // Santa Clarita CCD
replace idx_f = 125019 if regexm(district, "680") == 1   // Ventura County CCD (Seltect CCD offices over college itself)

replace idx_f = 124113 if regexm(district, "690") == 1   // West Kern CCD (Used Taft)
replace idx_f = 112686 if regexm(district, "710") == 1   // Compton CCD
replace idx_f = 113980 if regexm(district, "720") == 1   // El Camino CCD
replace idx_f = 117681 if regexm(district, "740") == 1   // Los Angeles CCD
replace idx_f = 121044 if regexm(district, "770") == 1   // Pasadena Area CCD (Used Pasadena City College)

replace idx_f = 111887 if regexm(district, "810") == 1   // Cerritos CCD
replace idx_f = 112172 if regexm(district, "820") == 1   // Citrus CCD
replace idx_f = 119164 if regexm(district, "850") == 1   // Mt. San Antonio CCD
replace idx_f = 120023 if regexm(district, "860") == 1   // North Orange County CCD
replace idx_f = 121886 if regexm(district, "880") == 1   // Rio Hondo CCD

replace idx_f = 432144 if regexm(district, "890") == 1   // South Orange County CCD
replace idx_f = 109907 if regexm(district, "910") == 1   // Barstow CCD
replace idx_f = 111939 if regexm(district, "920") == 1   // Chaffey CCD
replace idx_f = 113573 if regexm(district, "930") == 1   // Desert CCD
replace idx_f = 119216 if regexm(district, "940") == 1   // Mt. San Jacinto CCD

replace idx_f = 121901 if regexm(district, "960") == 1   // Riverside CCD
replace idx_f = 428426 if regexm(district, "980") == 1   // San Bernardino CCD  (Used CCD > CCC)
replace idx_f = 125091 if regexm(district, "990") == 1   // Victor Valley CCD

(2 real changes made)
(2 real changes made)
(3 real changes made)
(5 real changes made)
(2 real changes made)
(4 real changes made)
(3 real changes made)
(4 real changes made)
(4 real changes made)
(4 real changes made)
(3 real changes made)
(2 real changes made)
(4 real changes made)
(3 real changes made)
(1 real change made)
(1 real change made)
(3 real changes made)
(1 real change made)
(1 real change made)
(3 real changes made)
(3 real changes made)
(5 real changes made)
(3 real changes made)
(2 real changes made)
(5 real changes made)
(4 real changes made)
(5 real changes made)
(2 real changes made)
(4 real changes made)
(4 real changes made)
(3 real changes made)
(1 real change made)
(4 real changes made)
(3 real changes made)
(5 real changes made)
(5 real changes made)
(4 real changes made)
(3 real changes made)
(5 real changes made)
(2 real changes made)
(3 real changes made)
(1 real change made)
(2 real changes made)
(2 real changes made)
(2 real changes made)
(3 real changes made)
(4 real changes made)
(3 real changes made)

In [28]:
save idx_total_offsets_2019_2023, replace

file idx_total_offsets_2019_2023.dta saved

In [29]:
ds

district      count_offset  total_amou~t  year          idx_f

In [18]:
use hd_ef_flags18_23, clear

keep if control==1 & iclevel>1 & year==2023 & fips==6

set line 200

sort instnm

list unitid idx_f instnm

(40,518 observations deleted)

     +-----------------------------------------------------------------------------------+
     | unitid    idx_f                                                            instnm |
     |-----------------------------------------------------------------------------------|
  1. | 491464       -2                                                  ABC Adult School |
  2. | 108807       -2                                             Allan Hancock College |
  3. | 109208   117900                                            American River College |
  4. | 417105       -2                          Baldwin Park Adult & Community Education |
  5. | 109907       -2                                         Barstow Community College |
     |-----------------------------------------------------------------------------------|
  6. | 449357       -2                                             Beaumont Adult School |
  7. | 125170   121178                                             Berkeley City College |
  8. | 110246       -2                                                     Butte College |
  9. | 487773       -2                        Butte County Regional Occupational Program |
 10. | 110334       -2                                                  Cabrillo College |
     |-----------------------------------------------------------------------------------|
 11. | 495271       -2                                 California Indian Nations College |
 12. | 111434       -2                                                    Canada College |
 13. | 111887       -2                                                  Cerritos College |
 14. | 111896   109819                                      Cerro Coso Community College |
 15. | 111920       -2                                                    Chabot College |
     |-----------------------------------------------------------------------------------|
 16. | 111939       -2                                                   Chaffey College |
 17. | 123493       -2                       Charles A Jones Career and Education Center |
 18. | 112172       -2                                                    Citrus College |
 19. | 112190       -2                                     City College of San Francisco |
 20. | 112367       -2                                            Clovis Adult Education |
     |-----------------------------------------------------------------------------------|
 21. | 489201   123925                                          Clovis Community College |
 22. | 125462   448637                                                  Coalinga College |
 23. | 112376       -2                           Coast Community College District Office |
 24. | 112385       -2                                       Coastline Community College |
 25. | 108667   121178                                                College of Alameda |
     |-----------------------------------------------------------------------------------|
 26. | 118347       -2                                                  College of Marin |
 27. | 122791       -2                                              College of San Mateo |
 28. | 111461       -2                                            College of the Canyons |
 29. | 113573       -2                                             College of the Desert |
 30. | 121707       -2                                           College of the Redwoods |
     |-----------------------------------------------------------------------------------|
 31. | 123217       -2                                           College of the Sequoias |
 32. | 123484       -2                                          College of the Siskiyous |
 33. | 112561   126100                                                  Columbia College |
 34. | 112686       -2                                                   Compton College |
 35. | 112826   112817                                              Contra Costa College |
     |-----------------------------------------------------------------------------------|
 36. | 112817   112817                    Contra Costa Community College District Office |
 37. | 395362       -2                                 Copper Mountain Community College |
 38. | 113096   117900                                            Cosumnes River College |
 39. | 113193       -2                                                    Cuesta College |
 40. | 113218   115287                                                  Cuyamaca College |
     |-----------------------------------------------------------------------------------|
 41. | 113333   114831                                                   De Anza College |
 42. | 113634   112817                                             Diablo Valley College |
 43. | 371690       -2                                               Downey Adult School |
 44. | 113856   117681                                          East Los Angeles College |
 45. | 113980       -2                              El Camino Community College District |
     |-----------------------------------------------------------------------------------|
 46. | 492306       -2                                            Escondido Adult School |
 47. | 114266   122737                                          Evergreen Valley College |
 48. | 444219   117900                                               Folsom Lake College |
 49. | 114859   120023                                                 Fullerton College |
 50. | 114938       -2                                                   Gavilan College |
     |-----------------------------------------------------------------------------------|
 51. | 115001       -2                                        Glendale Community College |
 52. | 115126       -2                                               Golden West College |
 53. | 115296   115287                                                 Grossmont College |
 54. | 115287   115287                     Grossmont-Cuyamaca Community College District |
 55. | 383084       -2                                Hacienda La Puente Adult Education |
     |-----------------------------------------------------------------------------------|
 56. | 115393       -2                                                  Hartnell College |
 57. | 115861       -2                                           Imperial Valley College |
 58. | 116439   432144                                             Irvine Valley College |
 59. | 117195       -2                                      Lake Tahoe Community College |
 60. | 117247   121178                                                     Laney College |
     |-----------------------------------------------------------------------------------|
 61. | 366401       -2                                               Las Positas College |
 62. | 117274       -2                                          Lassen Community College |
 63. | 448594   448637                                                   Lemoore College |
 64. | 117645       -2                                           Long Beach City College |
 65. | 117788   117681                                          Los Angeles City College |
     |-----------------------------------------------------------------------------------|
 66. | 117803       -2           Los Angeles County College of Nursing and Allied Health |
 67. | 117690   117681                                        Los Angeles Harbor College |
 68. | 117706   117681                                        Los Angeles Pierce College |
 69. | 117715   117681                                     Los Angeles Southwest College |
 70. | 117724   117681                               Los Angeles Trade Technical College |
     |-----------------------------------------------------------------------------------|
 71. | 117894   112817                                               Los Medanos College |
 72. | 117900   117900                        Los Rios Community College District Office |
 73. | 497046   123925                                          Madera Community College |
 74. | 118684       -2                                                 Mendocino College |
 75. | 118718       -2                                                    Merced College |
     |-----------------------------------------------------------------------------------|
 76. | 118772   121178                                                   Merritt College |
 77. | 118930   125222                                                   Mission College |
 78. | 119067       -2                                        Monterey Peninsula College |
 79. | 460394       -2                                             Moreno Valley College |
 80. | 119164       -2                                            Mt San Antonio College |
     |-----------------------------------------------------------------------------------|
 81. | 119216       -2                         Mt San Jacinto Community College District |
 82. | 382258       -2                         Mt. Diablo Adult Education-Mt. Diablo USD |
 83. | 119331       -2                                               Napa Valley College |
 84. | 460464       -2                                                     Norco College |
 85. | 120290       -2                                                    Ohlone College |
     |-----------------------------------------------------------------------------------|
 86. | 120342       -2                                              Orange Coast College |
 87. | 120421   125019                                                    Oxnard College |
 88. | 120953       -2                                                Palo Verde College |
 89. | 120971       -2                                                   Palomar College |
 90. | 121044       -2                                             Pasadena City College |
     |-----------------------------------------------------------------------------------|
 91. | 121178   121178                           Peralta Community College System Office |
 92. | 372082       -2         Pomona Unified School District Adult and Career Education |
 93. | 121363   109819                                               Porterville College |
 94. | 492315       -2                                                Poway Adult School |
 95. | 117052   123925                                                   Reedley College |
     |-----------------------------------------------------------------------------------|
 96. | 121901       -2                                            Riverside City College |
 97. | 481191       -2   Riverside County Office of Education-School of Career Education |
 98. | 122180   117900                                           Sacramento City College |
 99. | 122205   432144                                                Saddleback College |
100. | 428426   428426                         San Bernardino Community College District |
     |-----------------------------------------------------------------------------------|
101. | 123527   428426                                     San Bernardino Valley College |
|02. | 122339       -2                                            San Diego City College
103. | 122384       -2                                         San Diego Miramar College |
104. | 122658       -2                                         San Joaquin Delta College |
105. | 122746   122737                                             San Jose City College |
     |-----------------------------------------------------------------------------------|
106. | 122737   122737                     San Jose-Evergreen Community College District |
107. | 122889       -2                                        Santa Barbara City College |
108. | 123013       -2                                         Santa Rosa Junior College |
109. | 399212   438665                                           Santiago Canyon College |
110. | 123341       -2                                                    Sierra College |
     |-----------------------------------------------------------------------------------|
111. | 432144   432144                    South Orange County Community College District |
112. | 123800       -2                                              Southwestern College |
113. | 446093       -2                              Sutter County Career Training Center |
114. | 484233       -2                                     Tri-Community Adult Education |
115. | 481182       -2                                                Ukiah Adult School |
     |-----------------------------------------------------------------------------------|
116. | 417123       -2                            Ventura Adult and Continuing Education |
117. | 125028   125019                                                   Ventura College |
118. | 125019   125019                    Ventura County Community College System Office |
119. | 125091       -2                                             Victor Valley College |
120. | 492324       -2                                                Vista Adult School |
     |-----------------------------------------------------------------------------------|
121. | 448637   448637                             West Hills Community College District |
122. | 125499   125222                                               West Valley College |
123. | 125222   125222             West Valley Mission Community College District Office |
124. | 455512       -2                                        Woodland Community College |
125. | 126119       -2                                                      Yuba College |
     +-----------------------------------------------------------------------------------+

In [172]:
use hd_ef_flags18_23, clear

*Replaces idx_f obs. with of -2 with value of unitid provided in observation*

replace idx_f=unitid if idx_f==-2

*aggregates the dataset down to one row per idx_f × year, computing different summaries for different variable sets*

collapse (sum) eftotlt-efnralt (first) instnm-c21basic, by(idx_f year)

*keep observations marked as 6, which is California*
keep if fips==6

save hd_ef_flags18_23_ca, replace

(34,951 real changes made)
(32,475 observations deleted)
(file hd_ef_flags18_23_ca.dta not found)
file hd_ef_flags18_23_ca.dta saved

In [175]:
set line 150
gsort -year control -iclevel instnm
list idx_f instnm if control==1 & iclevel>1 & year==2023

      +--------------------------------------------------------------------------+
      |  idx_f                                                            instnm |
      |--------------------------------------------------------------------------|
   1. | 491464                                                  ABC Adult School |
   2. | 417105                          Baldwin Park Adult & Community Education |
   3. | 490212                          Baldy View Regional Occupational Program |
   4. | 449357                                             Beaumont Adult School |
   5. | 487773                        Butte County Regional Occupational Program |
      |--------------------------------------------------------------------------|
   6. | 123493                       Charles A Jones Career and Education Center |
   7. | 112367                                            Clovis Adult Education |
   8. | 492306                                            Escondido Adult School |
   9. | 382258                         Mt. Diablo Adult Education-Mt. Diablo USD |
  10. | 372082         Pomona Unified School District Adult and Career Education |
      |--------------------------------------------------------------------------|
  11. | 492315                                                Poway Adult School |
  12. | 481191   Riverside County Office of Education-School of Career Education |
  13. | 481182                                                Ukiah Adult School |
  14. | 417123                            Ventura Adult and Continuing Education |
  15. | 492324                                                Vista Adult School |
      |--------------------------------------------------------------------------|
  16. | 108807                                             Allan Hancock College |
  17. | 117900                                            American River College |
  18. | 109907                                         Barstow Community College |
  19. | 110246                                                     Butte College |
  20. | 110334                                                  Cabrillo College |
      |--------------------------------------------------------------------------|
  21. | 495271                                 California Indian Nations College |
  22. | 111434                                                    Canada College |
  23. | 111887                                                  Cerritos College |
  24. | 111920                                                    Chabot College |
  25. | 111939                                                   Chaffey College |
      |--------------------------------------------------------------------------|
  26. | 112172                                                    Citrus College |
  27. | 112190                                     City College of San Francisco |
  28. | 112376                           Coast Community College District Office |
  29. | 112385                                       Coastline Community College |
  30. | 121178                                                College of Alameda |
      |--------------------------------------------------------------------------|
  31. | 118347                                                  College of Marin |
  32. | 122791                                              College of San Mateo |
  33. | 111461                                            College of the Canyons |
  34. | 113573                                             College of the Desert |
  35. | 121707                                           College of the Redwoods |
      |--------------------------------------------------------------------------|
  36. | 123217                                           College of the Sequoias |
  37. | 123484                                          College of the Siskiyous |
  38. | 126100                                                  Columbia College |
  39. | 112686                                                   Compton College |
  40. | 112817                    Contra Costa Community College District Office |
      |--------------------------------------------------------------------------|
  41. | 395362                                 Copper Mountain Community College |
  42. | 428426                                             Crafton Hills College |
  43. | 113193                                                    Cuesta College |
  44. | 115287                                                  Cuyamaca College |
  45. | 114831                                                   De Anza College |
      |--------------------------------------------------------------------------|
  46. | 371690                                               Downey Adult School |
  47. | 117681                                          East Los Angeles College |
  48. | 113980                              El Camino Community College District |
  49. | 122737                                          Evergreen Valley College |
  50. | 123925                                               Fresno City College |
      |--------------------------------------------------------------------------|
  51. | 114938                                                   Gavilan College |
  52. | 115001                                        Glendale Community College |
  53. | 115126                                               Golden West College |
  54. | 383084                                Hacienda La Puente Adult Education |
  55. | 115393                                                  Hartnell College |
      |--------------------------------------------------------------------------|
  56. | 115861                                           Imperial Valley College |
  57. | 432144                                             Irvine Valley College |
  58. | 117195                                      Lake Tahoe Community College |
  59. | 366401                                               Las Positas College |
  60. | 117274                                          Lassen Community College |
      |--------------------------------------------------------------------------|
  61. | 117645                                           Long Beach City College |
  62. | 117803           Los Angeles County College of Nursing and Allied Health |
  63. | 118684                                                 Mendocino College |
  64. | 118718                                                    Merced College |
  65. | 125222                                                   Mission College |
      |--------------------------------------------------------------------------|
  66. | 119067                                        Monterey Peninsula College |
  67. | 125019                                                  Moorpark College |
  68. | 460394                                             Moreno Valley College |
  69. | 119164                                            Mt San Antonio College |
  70. | 119216                         Mt San Jacinto Community College District |
      |--------------------------------------------------------------------------|
  71. | 119331                                               Napa Valley College |
  72. | 460464                                                     Norco College |
  73. | 120290                                                    Ohlone College |
  74. | 120342                                              Orange Coast College |
  75. | 120953                                                Palo Verde College |
      |--------------------------------------------------------------------------|
  76. | 120971                                                   Palomar College |
  77. | 121044                                             Pasadena City College |
  78. | 121901                                            Riverside City College |
  79. | 122339                                            San Diego City College |
  80. | 122384                                         San Diego Miramar College |
      |--------------------------------------------------------------------------|
  81. | 122658                                         San Joaquin Delta College |
  82. | 122889                                        Santa Barbara City College |
  83. | 123013                                         Santa Rosa Junior College |
  84. | 123341                                                    Sierra College |
  85. | 123800                                              Southwestern College |
      |--------------------------------------------------------------------------|
  86. | 124113                                                      Taft College |
  87. | 484233                                     Tri-Community Adult Education |
  88. | 125091                                             Victor Valley College |
  89. | 448637                                       West Hills College-Coalinga |
  90. | 455512                                        Woodland Community College |
      |--------------------------------------------------------------------------|
  91. | 126119                                                      Yuba College |
      +--------------------------------------------------------------------------+

In [ ]:
clear all

local years 2019 2020 2021 2022 2023

tempfile offsets_all
local first = 1

foreach y of local years {

    import excel using "total_offsets/`y'_total_offset.xlsx", ///
        firstrow clear

    * If needed, standardize names ONCE here
    rename *, lower
    * Adjust these renames to match your actual column names
    * e.g., if you have "district" and "total_amount_offset" already, remove renames
    * rename total_amount_offset total_offset

    gen year = `y'

    keep district count_offset total_amount_offset year

    if `first' {
        save `offsets_all', replace
        local first = 0
    }
    else {
        append using `offsets_all'
        save `offsets_all', replace
    }
}

use `offsets_all', clear
save total_offsets_2019_2023.dta, replace
export delimited using "total_offsets/total_offsets_2019_2023.csv", ///
    replace

In [ ]:
use hd2023a, clear

for years = 2018 / 2022 {

append using hd`year'a
merge 1:1 unitid year using ef`year`a, nogen

In [57]:
clear all

local years 2019 2020 2021 2022 2023

tempfile offsets_all
local first = 1

foreach y of local years {

    import excel using "total_offsets/`y'_total_offset.xlsx", ///
        firstrow clear

    * If needed, standardize names ONCE here
    rename *, lower
    * Adjust these renames to match your actual column names
    * e.g., if you have "district" and "total_amount_offset" already, remove renames
    * rename total_amount_offset total_offset

    gen year = `y'

    keep district count_offset total_amount_offset year

    if `first' {
        save `offsets_all', replace
        local first = 0
    }
    else {
        append using `offsets_all'
        save `offsets_all', replace
    }
}

use `offsets_all', clear
save total_offsets_2019_2023.dta, replace
export delimited using "total_offsets/total_offsets_2019_2023.csv", ///
    replace

(3 vars, 46 obs)
  (all newnames==oldnames)
(file C:\Users\rabid\AppData\Local\Temp\ST_c078_00001b.tmp not found)
file C:\Users\rabid\AppData\Local\Temp\ST_c078_00001b.tmp saved as .dta
    format
(3 vars, 39 obs)
  (all newnames==oldnames)
file C:\Users\rabid\AppData\Local\Temp\ST_c078_00001b.tmp saved as .dta
    format
(3 vars, 32 obs)
  (all newnames==oldnames)
file C:\Users\rabid\AppData\Local\Temp\ST_c078_00001b.tmp saved as .dta
    format
(3 vars, 18 obs)
  (all newnames==oldnames)
(variable district was str41, now str42 to accommodate using data's values)
file C:\Users\rabid\AppData\Local\Temp\ST_c078_00001b.tmp saved as .dta
    format
(3 vars, 12 obs)
  (all newnames==oldnames)
(variable district was str41, now str42 to accommodate using data's values)
file C:\Users\rabid\AppData\Local\Temp\ST_c078_00001b.tmp saved as .dta
    format
file total_offsets_2019_2023.dta saved
file total_offsets/total_offsets_2019_2023.csv saved

In [58]:
ds

district      count_offset  total_amou~t  year

**Sanity Check: Verify Total Number of CCD Observations 147 out of 147**

In [61]:
set line 150
list district count_offset total_amount_offset year

     +-------------------------------------------------------------------------+
     |                                  district   count_~t   total_a~t   year |
     |-------------------------------------------------------------------------|
  1. | 620 - Antelope Valley CCD                        129    19460.63   2023 |
  2. | 110 - Butte-Glenn CCD                            873   172975.36   2023 |
  3. | 810 - Cerritos CCD                              1028   261539.18   2023 |
  4. | 530 - Merced CCD                                1226   255185.95   2023 |
  5. | 860 - North Orange County CCD                    968   198888.81   2023 |
     |-------------------------------------------------------------------------|
  6. | 060 - Palomar CCD                                348   114556.95   2023 |
  7. | 770 - Pasadena Area CCD                          843   241441.77   2023 |
  8. | 160 - Redwoods CCD                                86    19453.90   2023 |
  9. | 960 - Riverside CCD                              745   172234.88   2023 |
 10. | 260 - Sonoma County JCD                         2072   408080.88   2023 |
     |-------------------------------------------------------------------------|
 11. | 580 - West Hills CCD                             328    92003.65   2023 |
 12. | 590 - Yosemite CCD                                 5     4270.54   2023 |
 13. | 620 - Antelope Valley CCD                        833   135142.24   2022 |
 14. | 110 - Butte-Glenn CCD                            254    46518.59   2022 |
 15. | 810 - Cerritos CCD                              2400   641663.83   2022 |
     |-------------------------------------------------------------------------|
 16. | 820 - Citrus CCD                                1522   267632.98   2022 |
 17. | 720 - El Camino CCD                             2749   383468.15   2022 |
 18. | 120 - Feather River CCD                           26     7575.00   2022 |
 19. | 530 - Merced CCD                                3521   679221.14   2022 |
 20. | 860 - North Orange County CCD                   2318   423065.28   2022 |
     |-------------------------------------------------------------------------|
 21. | 060 - Palomar CCD                                724   207643.56   2022 |
 22. | 770 - Pasadena Area CCD                         2395   624910.16   2022 |
 23. | 980 - San Bernardino CCD                          54    20222.23   2022 |
 24. | 660 - Santa Clarita CCD                           71    13787.22   2022 |
 25. | 170 - Shasta-Tehama-Trinity Joint CCD            194    57578.61   2022 |
     |-------------------------------------------------------------------------|
 26. | 180 - Siskiyou Joint CCD                          12     3664.19   2022 |
 27. | 680 - Ventura County CCD                         906   270401.99   2022 |
 28. | 990 - Victor Valley CCD                         1190   317368.15   2022 |
 29. | 580 - West Hills CCD                            1625   420971.84   2022 |
 30. | 590 - Yosemite CCD                                 4     3677.19   2022 |
     |-------------------------------------------------------------------------|
 31. | 620 - Antelope Valley CCD                        249    34315.05   2021 |
 32. | 810 - Cerritos CCD                               175    29549.10   2021 |
 33. | 480 - Chabot-Las Positas CCD                      82    11978.43   2021 |
 34. | 820 - Citrus CCD                                 212    22817.01   2021 |
 35. | 310 - Contra Costa CCD                           986   167658.88   2021 |
     |-------------------------------------------------------------------------|
 36. | 930 - Desert CCD                                 133    10282.85   2021 |
 37. | 720 - El Camino CCD                              585    60986.59   2021 |
 38. | 450 - Hartnell CCD                                92     9651.43   2021 |
 39. | 740 - Los Angeles CCD                             41    24738.23   2021 |
 40. | 230 - Los Rios CCD                               286    51572.12   2021 |
     |-------------------------------------------------------------------------|
 41. | 530 - Merced CCD                                 452    61321.45   2021 |
 42. | 050 - MiraCosta CCD                               58    10072.25   2021 |
 43. | 850 - Mt. San Antonio CCD                        125    11331.97   2021 |
 44. | 240 - Napa Valley CCD                             24     4699.37   2021 |
 45. | 860 - North Orange County CCD                    389    47085.14   2021 |
     |-------------------------------------------------------------------------|
 46. | 430 - Ohlone CCD                                  26     1299.49   2021 |
 47. | 060 - Palomar CCD                                 46    10376.65   2021 |
 48. | 770 - Pasadena Area CCD                          434    80706.90   2021 |
 49. | 160 - Redwoods CCD                               174    27109.19   2021 |
 50. | 960 - Riverside CCD                              367    43606.36   2021 |
     |-------------------------------------------------------------------------|
 51. | 980 - San Bernardino CCD                          14     2451.16   2021 |
 52. | 470 - San José-Evergreen CCD                     351    55454.99   2021 |
 53. | 660 - Santa Clarita CCD                           18     1948.44   2021 |
 54. | 560 - Sequoias CCD                               479    51880.66   2021 |
 55. | 170 - Shasta-Tehama-Trinity Joint CCD             38     4832.11   2021 |
     |-------------------------------------------------------------------------|
 56. | 180 - Siskiyou Joint CCD                           7     3642.10   2021 |
 57. | 260 - Sonoma County JCD                          706    84560.69   2021 |
 58. | 890 - South Orange County CCD                      2      685.42   2021 |
 59. | 570 - State Center CCD                          1451   185204.92   2021 |
 60. | 680 - Ventura County CCD                         136    30889.53   2021 |
     |-------------------------------------------------------------------------|
 61. | 580 - West Hills CCD                             234    44804.71   2021 |
 62. | 690 - West Kern CCD                               46     6290.21   2021 |
 63. | 620 - Antelope Valley CCD                        698   100947.27   2020 |
 64. | 110 - Butte-Glenn CCD                            712   136866.57   2020 |
 65. | 810 - Cerritos CCD                               533   150780.37   2020 |
     |-------------------------------------------------------------------------|
 66. | 480 - Chabot-Las Positas CCD                     285    57299.72   2020 |
 67. | 920 - Chaffey CCD                                645    83549.59   2020 |
 68. | 820 - Citrus CCD                                 440    68654.61   2020 |
 69. | 310 - Contra Costa CCD                          2551   599796.09   2020 |
 70. | 720 - El Camino CCD                             1055   147431.82   2020 |
     |-------------------------------------------------------------------------|
 71. | 120 - Feather River CCD                            9     1572.00   2020 |
 72. | 020 - Grossmont-Cuyamaca CCD                     628    79241.39   2020 |
 73. | 030 - Imperial CCD                               572   107795.98   2020 |
 74. | 740 - Los Angeles CCD                            239    82065.75   2020 |
 75. | 230 - Los Rios CCD                               734   158533.25   2020 |
     |-------------------------------------------------------------------------|
 76. | 530 - Merced CCD                                 368    56103.41   2020 |
 77. | 050 - MiraCosta CCD                              243    52698.24   2020 |
 78. | 850 - Mt. San Antonio CCD                        771   121427.88   2020 |
 79. | 940 - Mt. San Jacinto CCD                        572    62584.69   2020 |
 80. | 860 - North Orange County CCD                    800   138502.86   2020 |
     |-------------------------------------------------------------------------|
 81. | 430 - Ohlone CCD                                  51     7034.22   2020 |
 82. | 060 - Palomar CCD                                533   138237.16   2020 |
 83. | 770 - Pasadena Area CCD                          913   240507.41   2020 |
 84. | 160 - Redwoods CCD                                13     3228.93   2020 |
 85. | 880 - Rio Hondo CCD                              868   188193.60   2020 |
     |-------------------------------------------------------------------------|
 86. | 960 - Riverside CCD                             4119   500904.05   2020 |
 87. | 980 - San Bernardino CCD                          39    11303.21   2020 |
 88. | 470 - San José-Evergreen CCD                     902   171038.20   2020 |
 89. | 640 - San Luis Obispo County CCD                 613   130354.08   2020 |
 90. | 660 - Santa Clarita CCD                           48    12241.39   2020 |
     |-------------------------------------------------------------------------|
 91. | 560 - Sequoias CCD                              2139   245072.77   2020 |
 92. | 170 - Shasta-Tehama-Trinity Joint CCD            250    61376.28   2020 |
 93. | 180 - Siskiyou Joint CCD                          35     8308.29   2020 |
 94. | 260 - Sonoma County JCD                         1335   195483.86   2020 |
 95. | 890 - South Orange County CCD                      7     2196.00   2020 |
     |-------------------------------------------------------------------------|
 96. | 090 - Southwestern CCD                             5      436.86   2020 |
 97. | 680 - Ventura County CCD                         543   109388.67   2020 |
 98. | 990 - Victor Valley CCD                          312    82065.96   2020 |
 99. | 580 - West Hills CCD                             593   142053.60   2020 |
100. | 690 - West Kern CCD                              159    29012.85   2020 |
     |-------------------------------------------------------------------------|
101. | 590 - Yosemite CCD                               187    31687.68   2020 |
102. | 620 - Antelope Valley CCD                       1044   121797.55   2019 |
103. | 910 - Barstow CCD                                261    51439.64   2019 |
104. | 110 - Butte-Glenn CCD                           1122   173674.68   2019 |
105. | 810 - Cerritos CCD                              1226   225225.58   2019 |
     |-------------------------------------------------------------------------|
106. | 480 - Chabot-Las Positas CCD                     484    87753.42   2019 |
107. | 920 - Chaffey CCD                                842    75902.96   2019 |
108. | 820 - Citrus CCD                                 778    97417.41   2019 |
109. | 710 - Compton CCD                               1540   174765.29   2019 |
110. | 310 - Contra Costa CCD                          4929   946481.66   2019 |
     |-------------------------------------------------------------------------|
111. | 930 - Desert CCD                                 722    73365.83   2019 |
112. | 720 - El Camino CCD                             2409   284648.46   2019 |
113. | 120 - Feather River CCD                           86    13621.60   2019 |
114. | 420 - Foothill-De Anza CCD                         2      234.00   2019 |
115. | 440 - Gavilan Joint CCD                          416    76472.93   2019 |
     |-------------------------------------------------------------------------|
116. | 020 - Grossmont-Cuyamaca CCD                    1018   119756.83   2019 |
117. | 030 - Imperial CCD                              1389   194095.55   2019 |
118. | 740 - Los Angeles CCD                            159    60107.75   2019 |
119. | 230 - Los Rios CCD                              1361   212344.77   2019 |
120. | 530 - Merced CCD                                1256   150826.98   2019 |
     |-------------------------------------------------------------------------|
121. | 050 - MiraCosta CCD                              276    52740.45   2019 |
122. | 850 - Mt. San Antonio CCD                       1313   185860.74   2019 |
123. | 940 - Mt. San Jacinto CCD                        929    74125.22   2019 |
124. | 240 - Napa Valley CCD                              2      295.60   2019 |
125. | 860 - North Orange County CCD                   1800   237043.59   2019 |
     |-------------------------------------------------------------------------|
126. | 430 - Ohlone CCD                                 178    12430.26   2019 |
127. | 060 - Palomar CCD                                819   158582.12   2019 |
128. | 770 - Pasadena Area CCD                         1701   339027.06   2019 |
129. | 160 - Redwoods CCD                                66    15595.62   2019 |
130. | 880 - Rio Hondo CCD                             3338   630274.94   2019 |
     |-------------------------------------------------------------------------|
131. | 980 - San Bernardino CCD                          76    23986.23   2019 |
132. | 360 - San Francisco CCD                         3509   573719.44   2019 |
133. | 470 - San José-Evergreen CCD                    2041   316390.20   2019 |
134. | 640 - San Luis Obispo County CCD                 558   103762.62   2019 |
135. | 660 - Santa Clarita CCD                          125    22282.98   2019 |
     |-------------------------------------------------------------------------|
136. | 560 - Sequoias CCD                              3113   302863.10   2019 |
137. | 170 - Shasta-Tehama-Trinity Joint CCD            758   129340.24   2019 |
138. | 180 - Siskiyou Joint CCD                          36     5874.16   2019 |
139. | 260 - Sonoma County JCD                         6620   895111.50   2019 |
140. | 890 - South Orange County CCD                      3      719.99   2019 |
     |-------------------------------------------------------------------------|
141. | 090 - Southwestern CCD                          1665   256591.89   2019 |
142. | 570 - State Center CCD                          5475   672321.20   2019 |
143. | 680 - Ventura County CCD                        1440   176738.28   2019 |
144. | 990 - Victor Valley CCD                          923   196424.96   2019 |
145. | 580 - West Hills CCD                             926   159439.85   2019 |
     |-------------------------------------------------------------------------|
146. | 690 - West Kern CCD                              183    28298.57   2019 |
147. | 590 - Yosemite CCD                               322    39441.65   2019 |
     +-------------------------------------------------------------------------+

In [10]:
* copy "https://nces.ed.gov/ipeds/datacenter/data/FLAGS2023.zip" ///
 * flags2023_data_stata.zip, replace

* unzipfile flags2023_data_stata.zip, replace

(file flags2023_data_stata.zip not found)

In [11]:
* unzipfile flags2023_data_stata.zip, replace

    inflating: Flags2023.csv

successfully unzipped flags2023_data_stata.zip to current directory
total processed:  1
        skipped:  0
      extracted:  1

In [38]:
insheet using Flags2023.csv, clear
save flags2023, replace

(105 vars, 6,163 obs)
file flags2023.dta saved

In [39]:
insheet using debt_thresholds_2024.csv, clear
save debt_thresholds_2024, replace

(10 vars, 35 obs)
file debt_thresholds_2024.dta saved

In [50]:
use flags2023, clear
describe

Contains data from flags2023.dta
 Observations:         6,163
    Variables:           105                  5 Dec 2025 13:05
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
UNITID          long    %12.0g                ﻿UNITID
stat_ic         byte    %8.0g                 STAT_IC
lock_ic         byte    %8.0g                 LOCK_IC
imp_ic          byte    %8.0g                 IMP_IC
stat_c          byte    %8.0g                 STAT_C
lock_c          byte    %8.0g                 LOCK_C
prch_c          byte    %8.0g                 PRCH_C
idx_c           long    %12.0g                IDX_C
pcc_f           byte    %8.0g                 PCC_F
imp_c           byte    %8.0g                 IMP_C
stat_e12        byte    %8.0g                 STAT_E12
lock_e12        byte    %8.0g                 LOCK_E12
prch_e12        byte    %8.0g                 PRCH_E12
idx_e12         long    %12.0g                IDX_E12
pce12_f         byte    %8.0g                 PCE12_F
imp_e12         byte    %8.0g                 IMP_E12
stat_sfa        byte    %8.0g                 STAT_SFA
lock_sfa        byte    %8.0g                 LOCK_SFA
prch_sfa        byte    %8.0g                 PRCH_SFA
idx_sfa         long    %12.0g                IDX_SFA
pcsfa_f         byte    %8.0g                 PCSFA_F
imp_sfa         byte    %8.0g                 IMP_SFA
sfaform         byte    %8.0g                 SFAFORM
stat_gr         byte    %8.0g                 STAT_GR
lock_gr         byte    %8.0g                 LOCK_GR
prch_gr         byte    %8.0g                 PRCH_GR
idx_gr          byte    %8.0g                 IDX_GR
pcgr_f          byte    %8.0g                 PCGR_F
imp_gr          byte    %8.0g                 IMP_GR
cohrtstu        byte    %8.0g                 COHRTSTU
stat_gr2        byte    %8.0g                 STAT_GR2
lock_gr2        byte    %8.0g                 LOCK_GR2
prch_gr2        byte    %8.0g                 PRCH_GR2
idx_gr2         byte    %8.0g                 IDX_GR2
pcgr2_f         byte    %8.0g                 PCGR2_F
imp_gr2         byte    %8.0g                 IMP_GR2
stat_om         byte    %8.0g                 STAT_OM
lock_om         byte    %8.0g                 LOCK_OM
prch_om         byte    %8.0g                 PRCH_OM
idx_om          byte    %8.0g                 IDX_OM
pcom_f          byte    %8.0g                 PCOM_F
imp_om          byte    %8.0g                 IMP_OM
stat_adm        byte    %8.0g                 STAT_ADM
lock_adm        byte    %8.0g                 LOCK_ADM
prch_adm        byte    %8.0g                 PRCH_ADM
idx_adm         byte    %8.0g                 IDX_ADM
pcadm_f         byte    %8.0g                 PCADM_F
imp_adm         byte    %8.0g                 IMP_ADM
stat_hr         byte    %8.0g                 STAT_HR
lock_hr         byte    %8.0g                 LOCK_HR
prch_hr         byte    %8.0g                 PRCH_HR
idx_hr          long    %12.0g                IDX_HR
pchr_f          byte    %8.0g                 PCHR_F
imp_hr          byte    %8.0g                 IMP_HR
ftemp15         byte    %8.0g                 FTEMP15
tenursys        byte    %8.0g                 TENURSYS
sa_excl         byte    %8.0g                 SA_EXCL
stat_eap        byte    %8.0g                 STAT_EAP
stat_sa         byte    %8.0g                 STAT_SA
stat_s          byte    %8.0g                 STAT_S
stat_ef         byte    %8.0g                 STAT_EF
lock_ef         byte    %8.0g                 LOCK_EF
prch_ef         byte    %8.0g                 PRCH_EF
idx_ef          long    %12.0g                IDX_EF
pcef_f          byte    %8.0g                 PCEF_F
imp_ef          byte    %8.0g                 IMP_EF
pta99_ef        byte    %8.0g                 PTA99_EF
ptacipef        byte    %8.0g                 PTACIPEF
ptb_ef          byte    %8.0g                 PTB_EF
ptc_ef          byte    %8.0g                 PTC_EF
ptd_ef          byte    %8.0g                 PTD_EF
stat_f          byte    %8.0g                 STAT_F
lock_f          byte    %8.0g                 LOCK_F
prch_f          byte    %8.0g                 PRCH_F
idx_f           long    %12.0g                IDX_F
pcf_f           float   %9.0g                 PCF_F
prchtp_f        byte    %8.0g                 PRCHTP_F
imp_f           byte    %8.0g                 IMP_F
form_f          byte    %8.0g                 FORM_F
fybeg           str6    %9s                   FYBEG
fyend           str6    %9s                   FYEND
gpfs            byte    %8.0g                 GPFS
f1gasbal        byte    %8.0g                 F1GASBAL
f2pell          byte    %8.0g                 F2PELL
f3pell          byte    %8.0g                 F3PELL
fcolathl        byte    %8.0g                 FCOLATHL
f_athex1        byte    %8.0g                 F_ATHEX1
f_athex2        byte    %8.0g                 F_ATHEX2
f_athex9        byte    %8.0g                 F_ATHEX9
f_athrv         byte    %8.0g                 F_ATHRV
f_athrv1        byte    %8.0g                 F_ATHRV1
f_athrv2        byte    %8.0g                 F_ATHRV2
f_athrv9        byte    %8.0g                 F_ATHRV9
f3bist          byte    %8.0g                 F3BIST
stat_al         byte    %8.0g                 STAT_AL
lock_al         byte    %8.0g                 LOCK_AL
prch_al         byte    %8.0g                 PRCH_AL
idx_al          long    %12.0g                IDX_AL
pcal_f          byte    %8.0g                 PCAL_F
imp_al          byte    %8.0g                 IMP_AL
hasal           byte    %8.0g                 HASAL
ntrldstr        byte    %8.0g                 NTRLDSTR
rev_c           byte    %8.0g                 REV_C
rev_e12         byte    %8.0g                 REV_E12
rev_ic          byte    %8.0g                 REV_IC
-------------------------------------------------------------------------------
Sorted by:

In [52]:
use flags2023, clear

* Make variable names consistent with other file
rename UNITID unitid

* Keep only the two needed variables from flags2023
keep unitid idx_f
describe

Contains data from flags2023.dta
 Observations:         6,163
    Variables:             2                  5 Dec 2025 13:05
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
unitid          long    %12.0g                ﻿UNITID
idx_f           long    %12.0g                IDX_F
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

In [54]:
merge 1:1 unitid using debt_thresholds_2024

tab _merge
drop if _merge == 2   // optional: drop institutions that only appear in thresholds
drop _merge

save districtids_debt_thresholds_2024, replace

    Result                      Number of obs
    -----------------------------------------
    Not matched                         6,128
        from master                     6,128  (_merge==1)
        from using                          0  (_merge==2)

    Matched                                35  (_merge==3)
    -----------------------------------------

   Matching result from |
                  merge |      Freq.     Percent        Cum.
------------------------+-----------------------------------
        Master only (1) |      6,128       99.43       99.43
            Matched (3) |         35        0.57      100.00
------------------------+-----------------------------------
                  Total |      6,163      100.00
(0 observations deleted)
(file districtids_debt_thresholds_2024.dta not found)
file districtids_debt_thresholds_2024.dta saved

In [56]:
ds

unitid        school_name   threshold_~e  ccd_discha~s
idx_f         threshold_~l  canceled_d~s  ccd_total_~d
segment       threshold_~r  v8

In [ ]:
use

In [ ]:
merge 1:1 unitid using debt_thresholds_2024

tab _merge
drop if _merge == 2   // optional: drop institutions that only appear in thresholds
drop _merge

save districtids_debt_thresholds_2024, replace

In [100]:
insheet using ///
"C:\Users\rabid\Graduate Research\Updated_CA_Institutional_Debts\data\Data_Single_Year_Policies.csv", clear

(13 vars, 141 obs)

In [101]:
save Data_Single_Year_Policies, replace

file Data_Single_Year_Policies.dta saved

In [102]:
* copy "https://nces.ed.gov/ipeds/datacenter/data/SFA2223_Data_Stata.zip" ///
 * SFA2223_Data_Stata.zip, replace

In [103]:
* unzipfile SFA2223_Data_Stata.zip, replace

In [104]:
insheet using sfa2223_data_stata.csv, clear
save sfa2223_data_stata, replace

(691 vars, 5,653 obs)
file sfa2223_data_stata.dta saved

In [105]:
use Data_Single_Year_Policies, clear

merge 1:1 unitid using sfa2223_data_stata

drop if _merge == 2   // drop observations only in using

keep unitid gis4n2 gis4n12 gis4n22 gis4n32 gis4n42 gis4n52 ///
     upgrntn upgrntp upgrntt upgrnta fgrnt_p fgrnt_a ///
     school_name year explicit_transcript_holds ///
     ambiguous_transcript_holds explicit_enrollment_holds ///
     ambiguous_enrollment_holds no_info_provided ftb segment

save sfa_collections, replace

    Result                      Number of obs
    -----------------------------------------
    Not matched                         5,520
        from master                         4  (_merge==1)
        from using                      5,516  (_merge==2)

    Matched                               137  (_merge==3)
    -----------------------------------------
(5,516 observations deleted)
file sfa_collections.dta saved

In [97]:
// use unitid gis4n2 gis4n12 gis4n22 gis4n22 gis4n32 gis4n42 gis4n52 ///
//    upgrntn upgrntp upgrntt upgrnta fgrnt_p using sfa2223_data_stata, clear

// merge 1:1 unitid using Data_Single_Year_Policies,

// drop if _merge==1

// save sfa_collections.dta, replace

In [98]:
// list unitid year ftb if _n < 11 //

In [108]:
import delimited "C:\Users\rabid\Graduate Research\Updated_CA_Institutional_Debts\data\FTB_2023.csv", clear
save FTB_2023,replace

(encoding automatically selected: UTF-8)
(9 vars, 75 obs)
file FTB_2023.dta saved

In [109]:
ds

segment     agency      pit_amount  year        v9
unitid      pit_count   all_count   all_amount

In [110]:
drop if missing(segment)

(19 observations deleted)

In [111]:
duplicates report unitid

Duplicates in terms of unitid

--------------------------------------
   Copies | Observations       Surplus
----------+---------------------------
        1 |           41             0
        2 |           12             6
        3 |            3             2
--------------------------------------

In [112]:
duplicates list unitid

Duplicates in terms of unitid

  +----------------------+
  | Group   Obs   unitid |
  |----------------------|
  |     1    28   110501 |
  |     1    29   110501 |
  |     1    37   110501 |
  |     2    18   110556 |
  |     2    38   110556 |
  |----------------------|
  |     3    33   110608 |
  |     3    40   110608 |
  |     4     6   110662 |
  |     4     9   110662 |
  |     5     1   110714 |
  |----------------------|
  |     5     4   110714 |
  |     6    12   122597 |
  |     6    24   122597 |
  |     7    21   200002 |
  |     7    23   200002 |
  +----------------------+

In [113]:
bysort unitid: gen nobs = _N
list unitid year agency all_amount if nobs>1, sepby(unitid)

     +-------------------------------------------------------------------+
     | unitid   year                               agency     all_amount |
     |-------------------------------------------------------------------|
  5. | 110501   2023              CSU Chancellor's Office       5,532.00 |
  6. | 110501   2023              CSU CHANCELLOR'S OFFICE     $9,926.17  |
  7. | 110501   2023              CSU CHANCELLOR'S OFFICE    $71,545.02  |
     |-------------------------------------------------------------------|
 11. | 110556   2023                         Fresno State       6,982.94 |
 12. | 110556   2023   CALIFORNIA STATE UNIVERSITY,FRESNO   $140,059.39  |
     |-------------------------------------------------------------------|
 16. | 110608   2023                       CSU Northridge      21,258.79 |
 17. | 110608   2023                       CSU Northridge   $563,062.93  |
     |-------------------------------------------------------------------|
 22. | 110662   2023        UCLA Debt Management Services     396,693.44 |
 23. | 110662   2023                                 UCLA      64,034.89 |
     |-------------------------------------------------------------------|
 27. | 110714   2023                        UC SANTA CRUZ     $3,307.76  |
 28. | 110714   2023         UNIVERSITY OF CA, SANTA CRUZ   $116,971.09  |
     |-------------------------------------------------------------------|
 41. | 122597   2023       SAN FRANCISCO STATE UNIVERSITY   $394,616.60  |
 42. | 122597   2023       SAN FRANCISCO STATE UNIVERSITY    $12,273.60  |
     |-------------------------------------------------------------------|
 50. | 200002   2023          CALIFORNIA STATE UNIVERSITY   $426,044.43  |
 51. | 200002   2023          CALIFORNIA STATE UNIVERSITY   $594,858.68  |
     +-------------------------------------------------------------------+

In [114]:
describe

Contains data from FTB_2023.dta
 Observations:            56
    Variables:            10                  3 Dec 2025 16:22
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
segment         byte    %8.0g
unitid          long    %12.0g
agency          str35   %35s
pit_count       str6    %9s
pit_amount      str14   %14s
all_count       str6    %9s
year            int     %8.0g
all_amount      str14   %14s
v9              byte    %8.0g
nobs            float   %9.0g
-------------------------------------------------------------------------------
Sorted by: unitid
     Note: Dataset has changed since last saved.

In [115]:
rename pit_amount  pit_amount_str
rename all_amount  all_amount_str

In [116]:
destring pit_amount_str, gen(pit_amount) ignore("$,")
destring all_amount_str, gen(all_amount) ignore("$,")

pit_amount_str: characters $ , removed; pit_amount generated as double
all_amount_str: characters $ , removed; all_amount generated as double

In [117]:
describe pit_amount all_amount
list unitid year pit_amount all_amount in 1/10

Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
pit_amount      double  %10.0g
all_amount      double  %10.0g

     +---------------------------------------+
     | unitid   year   pit_amo~t   all_amo~t |
     |---------------------------------------|
  1. | 109819   2023     4282.37     4282.37 |
  2. | 110422   2023    95666.74    97968.56 |
  3. | 110486   2023   376633.69    382602.1 |
  4. | 110495   2023   328464.74   330004.13 |
  5. | 110501   2023        5532        5532 |
     |---------------------------------------|
  6. | 110501   2023     9901.32     9926.17 |
  7. | 110501   2023    71538.71    71545.02 |
  8. | 110510   2023    25664.34    25814.02 |
  9. | 110538   2023   211793.43   213404.18 |
 10. | 110547   2023    11867.05    12043.05 |
     +---------------------------------------+

*Original Destring Practice that worked*

In [118]:
*destring pit_count pit_amount all_count all_amount, replace ignore(",") force*

In [119]:
describe pit_count pit_amount all_count all_amount

Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
pit_count       str6    %9s
pit_amount      double  %10.0g
all_count       str6    %9s
all_amount      double  %10.0g

**Attempting to de-string and then collapes matching unitid observations**

In [120]:
destring pit_count all_count, replace ignore(",")

pit_count: character , removed; replaced as int
all_count: character , removed; replaced as int

In [121]:
bysort unitid: egen total_all_amount = total(all_amount)
bysort unitid: egen total_pit_amount = total(pit_amount)
bysort unitid: egen total_all_count  = total(all_count)
bysort unitid: egen total_pit_count  = total(pit_count)

In [122]:
bysort unitid: keep if _n == 1

(8 observations deleted)

In [123]:
drop all_amount pit_amount all_count pit_count
rename total_all_amount all_amount
rename total_pit_amount pit_amount
rename total_all_count  all_count
rename total_pit_count  pit_count

In [124]:
duplicates report unitid

Duplicates in terms of unitid

--------------------------------------
   Copies | Observations       Surplus
----------+---------------------------
        1 |           48             0
--------------------------------------

In [125]:
. tabstat all_amount, statistics(sum) format(%12.0fc)

    Variable |          Sum
-------------+-------------
  all_amount |   11,987,864
---------------------------

In [126]:
describe pit_count pit_amount all_count all_amount

Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
pit_count       float   %9.0g
pit_amount      float   %9.0g
all_count       float   %9.0g
all_amount      float   %9.0g

In [127]:
duplicates report unitid

Duplicates in terms of unitid

--------------------------------------
   Copies | Observations       Surplus
----------+---------------------------
        1 |           48             0
--------------------------------------

In [128]:
save FTB_2023, replace

file FTB_2023.dta saved

**New Code: Reviewing all_amount totals**

In [132]:
use FTB_2023, clear
merge 1:1 unitid using sfa_collections, 

keep unitid gis4n2 gis4n12 gis4n22 gis4n22 gis4n32 gis4n42 gis4n52 ///
    upgrntn upgrntp upgrntt upgrnta fgrnt_p fgrnt_a school_name year explicit_transcript_holds ///
    ambiguous_transcript_holds explicit_enrollment_holds ambiguous_enrollment_holds ///
    no_info_provided ftb segment pit_count pit_amount all_count all_amount year

    Result                      Number of obs
    -----------------------------------------
    Not matched                           115
        from master                        11  (_merge==1)
        from using                        104  (_merge==2)

    Matched                                37  (_merge==3)
    -----------------------------------------

In [133]:
/*
use FTB_2023, clear
merge 1:1 unitid using sfa_collections, 

keep unitid gis4n2 gis4n12 gis4n22 gis4n22 gis4n32 gis4n42 gis4n52 ///
    upgrntn upgrntp upgrntt upgrnta fgrnt_p school_name year explicit_transcript_holds ///
    ambiguous_transcript_holds explicit_enrollment_holds ambiguous_enrollment_holds ///
    no_info_provided ftb frst_yr_sought last_yr_sought amount_sought segment ///
    pit_count pit_amount all_count all_amount
*/

In [134]:
count

  152

In [135]:
describe

Contains data from FTB_2023.dta
 Observations:           152
    Variables:            26                  3 Dec 2025 16:26
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
segment         byte    %8.0g
unitid          long    %12.0g
year            int     %8.0g
all_amount      float   %9.0g
pit_amount      float   %9.0g
all_count       float   %9.0g
pit_count       float   %9.0g
school_name     str35   %35s
explicit_tran~s str1    %9s
ambiguous_tra~s str1    %9s
explicit_enro~s str1    %9s
ambiguous_enr~s str1    %9s
no_info_provi~d str1    %9s
ftb             byte    %8.0g
upgrntn         long    %12.0g                UPGRNTN
upgrntp         byte    %8.0g                 UPGRNTP
upgrntt         long    %12.0g                UPGRNTT
upgrnta         int     %8.0g                 UPGRNTA
fgrnt_p         byte    %8.0g                 FGRNT_P
fgrnt_a         int     %8.0g                 FGRNT_A
gis4n2          int     %8.0g                 GIS4N2
gis4n12         int     %8.0g                 GIS4N12
gis4n22         int     %8.0g                 GIS4N22
gis4n32         int     %8.0g                 GIS4N32
gis4n42         int     %8.0g                 GIS4N42
gis4n52         int     %8.0g                 GIS4N52
-------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

**Checking for Merge Changes /w all_amount from FTB_2023 data set**

In [136]:
. tabstat all_amount, statistics(sum) format(%12.0fc)

    Variable |          Sum
-------------+-------------
  all_amount |   11,987,864
---------------------------

In [138]:
save sfa_collections, replace

file sfa_collections.dta saved

**Pull data from effy data sets online** [LEFT OFF HERE]

In [152]:
clear all

qui {
    forvalues year = 2021/2021 {

        * 1. Download zip
        copy "https://nces.ed.gov/ipeds/datacenter/data/EF2021A_Data_Stata.zip" ///
            "EF2021A_Data_Stata.zip", replace

        * 2. Unzip (creates EF2021A_Data_Stata.csv)
        unzipfile "EF2021A_Data_Stata.zip", replace

        * 3. Import the CSV that actually exists
        import delimited "EF2021A_Data_Stata.csv", clear varnames(1)

        * 4. Standardize variable names to lowercase
        rename *, lower

        * 5. Filter to level 2 (EF, not EFFY)
        * Check once with: describe ef*
        keep if efalev == 2

        * 6. Keep race/ethnicity totals
        keep unitid efytotlt efyaiant efyasiat efybkaat efyhispt ///
             efynhpit efywhitt efy2mort efyunknt efynralt

        * 7. Rename to ttl*
        foreach var in efytotlt efyaiant efyasiat efybkaat efyhispt ///
                       efynhpit efywhitt efy2mort efyunknt efynralt {
            rename `var' ttl`var'
        }

        * 8. Add year and save
        gen year = `year'
        save ttlef`year', replace
    }
}

file not found
    ef2021a_data_stata.csv (The process cannot access the file because it is be
> ing used by another process)
r(601);

**Old Code That Worked, aside from the first set that I'm currently working on (12/03/2025)**

In [149]:

qui {
forvalues year=2021/2021 {
    copy https://nces.ed.gov/ipeds/datacenter/data/EF2021A_Data_Stata.zip ef`year'_Data_Stata.zip, replace
    unzipfile ef`year'_Data_Stata.zip, replace
     
    insheet using ef`year'a_data_stata.csv, clear

    keep if efalev==2

    keep UNITID efytotlt efyaiant efyasiat efybkaat efyhispt efynhpit efywhitt efy2mort efyunknt efynralt

    foreach var in efytotlt efyaiant efyasiat efybkaat efyhispt efynhpit efywhitt efy2mort efyunknt efynralt {
    rename `var' ttl`var'
    }
ds
gen year=`year'
    save ttlef`year', replace
        }
    }

file not found
    ef2021a_data_stata.csv (The process cannot access the file because it is be
> ing used by another process)
r(601);

In [141]:

qui {
forvalues year=2023/2023 {
    copy https://nces.ed.gov/ipeds/datacenter/data/EFFY2023_Data_Stata.zip effy`year'_Data_Stata.zip, replace
    unzipfile effy`year'_Data_Stata.zip, replace
     
    insheet using effy`year'_data_stata.csv, clear

    keep if effyalev==22

    keep UNITID efytotlt efyaiant efyasiat efybkaat efyhispt efynhpit efywhitt efy2mort efyunknt efynralt

    foreach var in efytotlt efyaiant efyasiat efybkaat efyhispt efynhpit efywhitt efy2mort efyunknt efynralt {
    rename `var' ft`var'
    }
ds
gen year=`year'
    save fteffy`year', replace
        }
    }

In [ ]:

qui {
forvalues year=2023/2023 {
    copy https://nces.ed.gov/ipeds/datacenter/data/EFFY2023_Data_Stata.zip effy`year'_Data_Stata.zip, replace
    unzipfile effy`year'_Data_Stata.zip, replace
     
    insheet using effy`year'_data_stata.csv, clear

    keep if effyalev==42

    keep unitid efytotlt efyaiant efyasiat efybkaat efyhispt efynhpit efywhitt efy2mort efyunknt efynralt

    foreach var in efytotlt efyaiant efyasiat efybkaat efyhispt efynhpit efywhitt efy2mort efyunknt efynralt {
    rename `var' pt`var'
    }
ds
gen year=`year'
    save pteffy`year', replace
        }
    }

**HD Data Set Pull**

In [ ]:
qui {
forvalues year=2023/2023 {
	copy https://nces.ed.gov/ipeds/datacenter/data/HD`year'_Data_Stata.zip HD`year'_Data_Stata.zip, replace
	unzipfile HD`year'_Data_Stata, replace
      
	insheet using hd`year'_data_stata.csv, clear
   
    keep unitid control iclevel fips ccbasic instnm hloffer hdegofr1
    save hd`year'a, replace
		}   
	}

In [ ]:
describe, fullname

In [ ]:
/*
use ttleffy2023, clear
duplicates report unitid
*/

In [ ]:
use hd2023a, clear

merge 1:1 unitid using ttleffy2023, nogen
merge 1:1 unitid using fteffy2023, nogen
merge 1:1 unitid using pteffy2023, nogen

In [ ]:
save hd_effy_2023, replace

In [ ]:
use hd_effy_2023.dta

**Original Merge Code for Combining sfa_collections /w master hd_effy_2023 data set**

In [ ]:
/*
use sfa_collections, clear
merge 1:1 unitid using hd_effy_2023, gen(collect_hd_merge)

drop if collect_hd_merge!=3
save final_merged_data_set, replace
*/

*New Attempt at Merging ~/w Loss of 3 obs**

In [ ]:
use sfa_collections, clear
merge 1:1 unitid using hd_effy_2023, gen(collect_hd_merge) keep(master match)
save final_merged_data_set, replace

In [ ]:
use final_merged_data_set
ds

In [ ]:
. tabstat all_amount, statistics(sum) format(%12.0fc)

# Troubling Shooting New Merged Final Data Set: Sanity Check on Other Variables

In [ ]:
use final_merged_data_set, clear

In [ ]:
ds

In [ ]:
. tabstat all_amount, statistics(sum) format(%12.0fc)

In [ ]:
misstable summarize _all

In [ ]:
ds, has(type numeric)
local nums `r(varlist)'
summarize `nums', detail

In [ ]:
quietly summarize pit_amount 
display "Total pit_amount = $" string(r(sum),"%12.0fc")
quietly summarize all_count 
display "Total all_count   = " r(sum)

In [ ]:
tabulate segment, missing nofreq
tabulate explicit_transcript_holds, missing
tabulate ambiguous_transcript_holds, missing
tabulate ftb, missing

In [ ]:
list unitid pit_amount if pit_amount<0
list unitid all_count   if all_count   <0

In [ ]:
duplicates report unitid

In [ ]:
egen sum_by_race = rowtotal(ttlefytotlt*)  // whatever race vars you have
generate diff = sum_by_race - ttlefytotlt
assert diff==0

In [ ]:
list unitid ttlefytotlt sum_by_race diff if diff!=0

In [ ]:
tabstat all_amount pit_amount all_count, by(segment) ///
    statistics(N sum mean sd) format(%12.0fc %12.0fc %9.0g %9.2f)

# Trouble shooting the all_amount drop off that occurs as a result of data merges

In [ ]:
use FTB_2023.dta, clear
quietly summarize all_amount
local raw_N  = r(N)
local raw_sum= r(sum)

In [ ]:
use final_merged_data_set.dta, clear
quietly summarize all_amount
local mrg_N  = r(N)
local mrg_sum= r(sum)

In [ ]:
di as txt "RAW:     obs=" as res `raw_N'  "   sum=$" as res string(`raw_sum',"%12.0fc")
di as txt "MERGED:  obs=" as res `mrg_N'  "   sum=$" as res string(`mrg_sum',"%12.0fc")

In [ ]:
use FTB_2023.dta, clear

In [ ]:
merge 1:1 unitid using final_merged_data_set.dta

In [ ]:
tabulate _merge

In [ ]:
list unitid all_amount segment if _merge==1

In [ ]:
quietly summarize all_amount if _merge==1
display as text "Dropped OBS = " as result r(N) ///
       "   Dropped SUM = $" as result string(r(sum),"%12.0fc")

**Revieiwng the different merge locations to figure out where the observations are getting dropped**

In [ ]:
use FTB_2023.dta, clear
quietly summarize all_amount
local before_obs = r(N)
local before_sum = r(sum)
di as txt "🔹 RAW:   obs=`before_obs'   sum=$" as result string(`before_sum',"%12.0fc")

In [ ]:
merge 1:1 unitid using sfa_collections.dta
tabulate _merge
quietly summarize all_amount if _merge==3
local after1_obs = r(N)
local after1_sum = r(sum)
di as txt "🔹 After 1st merge:  obs=`after1_obs'   sum=$" as result string(`after1_sum',"%12.0fc")

In [ ]:
/*
use Data_Single_Year_Policies, clear
merge 1:1 unitid using sfa2223_data_stata, 

 drop if _merge==2

keep unitid gis4n2 gis4n12 gis4n22 gis4n22 gis4n32 gis4n42 gis4n52 ///
    upgrntn upgrntp upgrntt upgrnta fgrnt_p fgrnt_a school_name year explicit_transcript_holds ///
    ambiguous_transcript_holds explicit_enrollment_holds ambiguous_enrollment_holds ///
    no_info_provided ftb segment

save sfa_collections, replace
*/

In [ ]:
keep if _merge==3
drop _merge
merge 1:1 unitid year using sfa_collections.dta
tabulate _merge
quietly summarize all_amount if _merge==3
local after2_obs = r(N)
local after2_sum = r(sum)
di as txt "🔹 After 2nd merge:  obs=`after2_obs'   sum=$" as result string(`after2_sum',"%12.0fc")

In [ ]:
/*
use FTB_2023, clear
merge 1:1 unitid using sfa_collections, 

keep unitid gis4n2 gis4n12 gis4n22 gis4n22 gis4n32 gis4n42 gis4n52 ///
    upgrntn upgrntp upgrntt upgrnta fgrnt_p fgrnt_a school_name year explicit_transcript_holds ///
    ambiguous_transcript_holds explicit_enrollment_holds ambiguous_enrollment_holds ///
    no_info_provided ftb segment pit_count pit_amount all_count all_amount year
*/

In [ ]:
keep if _merge==3
drop _merge
merge 1:1 unitid using third_dataset.dta
tabulate _merge
quietly summarize all_amount if _merge==3
local after3_obs = r(N)
local after3_sum = r(sum)
di as txt "🔹 After 3rd merge:  obs=`after3_obs'   sum=$" as result string(`after3_sum',"%12.0fc")

In [ ]:
/*
use sfa_collections, clear
merge 1:1 unitid using hd_effy_2023, gen(collect_hd_merge)

drop if collect_hd_merge!=3
save final_merged_data_set, replace
*/